body {
	font-family: "ProximaNova";
	/*background: linear-gradient(to right, #f0f0f0, #ffffff);*/
	background: linear-gradient(to bottom, #f0f0f0 4%, #ffffff 13%);
}
.bread-pieces .layout-positioner {
	min-width: 1050px;
	max-width: 1150px;
	font-size: 18px;
	font-family: "Franklin Gothic Book";
	color: rgb(0, 0, 0);
	font-style: italic;
}
.image-contacts {
	margin-top: 45px;
	width: 100%;
	height: 500px;
	background: url('../images/contacts/image.png') no-repeat;
	background-size: cover;
}
.image-contacts ul {
	position: relative;
	top:250px;
	left:105px;
	list-style: none;
}
.image-contacts li {
	position: relative;
	font-size: 27px;
	font-family: "ProximaNovaBold";
	color: rgb(255, 255, 255);
	line-height: 2.4;
}
.image-contacts li:first-child {
	font-size: 27px;
}
.image-contacts li:first-child::before,
.image-contacts li:last-child::before {
	position: absolute;
	content: '';
	top:10px;
	left:-90px;
	width:50px;
	height: 41px;
	background: url('../images/contacts/email.png') no-repeat;
	background-size: contain;
}
.image-contacts li:last-child::before {
	left:-83px;
	width: 39px;
	height: 42px;
	background: url('../images/contacts/phone.png') no-repeat;
	background-size: contain;
}

.contacts {
	margin-top: 93px;
}
.contacts .layout-positioner {
	position: relative;
	width:830px;
	border:1px solid rgb(166, 166, 166);
	border-top:none;
	text-align: center;	
}
.contacts .layout-positioner::before,
.contacts .layout-positioner::after {
	position: absolute;
	content: '';
	top:378px;
	left:-25px;
	border:40px solid #ffffff;
}
.contacts .layout-positioner::after {
	left:775px;
}
.contacts h1 {
	position: relative;
	left:100px;
	margin: 35px auto 75px;
	color: rgb(0, 0, 0);
	font-size: 27px;
}
.contacts h1::before {
	position: absolute;
	content: '';
	top:-85px;
	left:100px;
	width: 180px;
	height: 158px;
	background: url('../images/contacts/geo.png') no-repeat;
	background-size: contain;
}
.contacts h2 {
	margin: 30px auto 0px;
	font-family: "ProximaNovaLightItalic";
	font-size: 22px;
}
.contacts ul {
	padding-left: 292px;
	text-align: left;	
	list-style: none;
}
.contacts ul:last-of-type {
	padding-left: 225px;
	margin-bottom: 65px;
}
.contacts li {
	position: relative;
	font-size: 18px;
	font-family: "Franklin Gothic Book";
	font-style: italic;
	color: rgb(41, 41, 41);
	line-height: 1.8;
}
.contacts li span {
	color:rgb(216, 216, 216);
}
.contacts ul:first-of-type li:nth-child(2)::before,
.contacts ul:first-of-type li:last-child::before {
	position: absolute;
	content: '';
	left:-37px;
	top:6px;
	width:24px;
	height: 19px;
	background: url('../images/contacts/black-email.png') no-repeat;
	background-size: contain;
}
.contacts ul:first-of-type li:last-child::before {
	left:-33px;
	width: 19px;
	height: 21px;
	background: url('../images/contacts/black-phone.png') no-repeat;
	background-size: contain;
}

.help-info {
	margin-top: 130px;
	width: 100%;
	text-align: center;
	background-color: rgb(242, 242, 242); 
	font-size: 19px;
  	font-family: "Franklin Gothic Book";
  	font-style: italic;
}
.help-info .gallery .item {
	position: relative;
	width:220px;
	display:inline-block;
	vertical-align:top;
}
.help-info .gallery .item:nth-child(2) {
	margin: auto 75px;
}
.help-info .gallery .item img {
	position: absolute;
	top:-72px;
}
.help-info .gallery .item:first-of-type img {
	left:19px;
}
.help-info .gallery .item:nth-of-type(2) img {
	left:48px;
}
.help-info .gallery .item:last-of-type img {
	top:-107px;
	left:37px;
}
.help-info .gallery .title {
	margin:115px auto 50px;
}	
.help-info .gallery .title a {
	color:rgb(24, 192, 207);
}

.help-info .buttons {
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}
.help-info .buttons::before {
	position: absolute;
	content: '';
	top:-54px;
	left:500px;
	height: 37px;
	width: 37px;
	background: url('../images/contacts/btn-msg.png') no-repeat;
	background-size: contain;
}
.help-info .buttons:active {
	box-shadow: none;
}
.help-info input[type="submit"] {
	position: absolute;
	height:30px;
	top:-50px;
	left:42.5%;
	width:205px;
	border: none;
	border-radius: 10px;
	background-color: rgb(24, 192, 207);
	font-size: 19px;
	font-family: "ProximaNova";
	color: rgb(255, 255, 255);
	box-shadow: inset 0px 18px 3px 0px rgba(0, 0, 0, 0.1);
}
.help-info input[type="submit"]:hover {
	cursor: pointer
}
.help-info input[type="submit"]:focus {
	outline: none;
}
