body{
    margin:0;
    padding:0;
    font-family:"MyriadProRegular", 'PT Sans', sans-serif;
    background-color: white;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CenturySchoolBook";
    src: url("../fonts/CenturySchoolbook/century2.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Century751BT";
    src: url("../fonts/Century751BT/ufonts.com_century-751-bt.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/Myriad Pro Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format("opentype");
}
.clearfix:after{
  content:'';
  clear:both;
  display:table;
}
.layout-positioner:{
  content:'';
  clear:both;
  display:table;
}
.layout-positioner{
  width:90%;
  max-width: 1300px;
  margin:0 auto;
  /*border:2px solid yellow;*/
  /*outline: 2px solid yellow;*/
}
.orange-line {
  border-bottom: 5px solid rgb(241, 70, 24);
}
hr {
  border: none; 
  background-color: #5ca8b6; 
  color: #5ca8b6; 
  height: 2px;
  width:15%;
}


/*Шапка*/

header.page-header {
  position: relative;
  color:white;
  width: 100%;
}
header.page-header .logo {
  position: relative;
  top: 20px;
  left: 22%;
  margin: 0;
  width:90px;
  height: 90px;
}
header.page-header .header-1 {
  height:66px;
}

header.page-header .header-2 {
 
  margin:0 auto;
}
header.page-header .header-2 .layout-positioner {
  /*outline: 2px solid yellow;*/
}
header.page-header .orange-line-header {
  border-top: 5px solid rgb(241, 70, 24);
}

header.page-header .header-1 .layout-column {
  float:right;
  
}
header.page-header .header-1 .layout-column-1 {
  padding-top: 3px;
  margin-right: 8%;
}
header.page-header .header-1 .layout-column-1 a, header.page-header .layout-column-1 a:visited{
  font-size: 22px;
  font-family: "ProximaNova";
  font-family: black;
  color: black;
  text-decoration: none;
}
header.page-header .header-1 .layout-column-2 {
  width:450px;
  margin-top: -8px;
  margin-right: -30px;
}

header.page-header .header-1 .layout-column-2 img {
  width:36px;
  height:33px;
  position: relative;
  top:12px;
  right: 10px;
}
header.page-header .header-1 .layout-column-2 li:first-child img,
header.page-header .header-1 .layout-column-2 li:nth-child(5) img {
  width:30px;
  height:27px;
  top:9px;
}
header.page-header .header-1 .layout-column-2 li:nth-child(3) {
  margin-right:-3px;
  margin-left: -3px;
}
header.page-header .header-1 .layout-column ul > li {
  display:inline-block;
}
header.page-header .header-1 .layout-column ul > li:first-child {

}
header.page-header .header-1 .layout-column ul > li:last-child {
  margin-left: 10px;
  margin-right: 30px;
}
header.page-header img {
  position: relative;
  top:7px;
  width:80%;
  height:auto;
}
header.page-header .logo {

}
header.page-header .logo img{
  position: absolute;
  top:-130px;
  left:-227px;
  height:160px; 
  width:165px;
}

header.page-header input[type="search"] {
  font-size: 16px;
  font-family: "MyriadProRegular";
  background-color: rgb(237, 237, 237);
  color: rgba(44, 45, 45, 0.302);
  border: 1px solid rgb(250, 84, 50);
  border-radius: 10px;
  padding: 5px 15px;
  width: 155px;
  height: 30px;
 }
header.page-header input[type="search"]:focus {
  outline: none;
}
header.page-header .main-menu{
  margin:0 auto;
  width:87%;
  background-color: #303131;
  border-radius: 10px;
}

header.page-header .main-menu ul {
  margin:-10px 0px 0px -50px;
  padding-top: 10px;
  padding-left: 15%;
  float:left;
 }
header.page-header .main-menu .menu-right {
  float:right;
}
header.page-header .main-menu .menu-right ul {
  margin-right: 0px;
  float:right;
}
header.page-header .main-menu .menu-right .buttons {
  margin-top:3px;
  text-align: center;
  position: relative;
}
header.page-header .main-menu .menu-right .buttons:active {
  top:1px;
  box-shadow: none;
}
header.page-header .main-menu .menu-right input[type="submit"] { 
  display: inline-block;
  margin: 0 5px;
  width: 162px;
  height: 35px;
  border:2px solid rgb(250, 84, 50);
  border-radius: 10px;
  background: rgb(241, 71, 23);
  color: rgba(253, 254, 253, 0.750);
  font-size: 20px;
  font-family: "MyriadPro";

}
header.page-header .main-menu .menu-right input[type="submit"]:hover {
  color: rgba(253, 254, 253, 1);
  cursor: pointer
}
header.page-header .main-menu .menu-right input[type="submit"]:focus {
  outline: none;
}

header.page-header .main-menu .menu-right ul li{
  
}
header.page-header .main-menu li {
  
  font-family: "MyriadPro";
  color: rgb(254, 254, 254);
  display: inline-block;
  list-style: none;
  border-right: 2px solid #343d3e;
  padding: 0 35px;
  margin-bottom: 10px;
  line-height: 2;

}
header.page-header .main-menu li:last-of-type {
  border-right: none;
}
header.page-header .main-menu a, header.page-header .main-menu a:visited {
  color:rgb(254, 254, 254);
}
header.page-header .main-menu .menu-left ul li:first-child a{
    color:rgb(241, 71, 23);
}
header.page-header .main-menu ul > a:nth-child(4) li, header.page-header .main-menu ul > a:last-child li{
  
}
header.page-header .main-menu ul > a:last-child li {

  /*border: 2px solid rgb(241, 70, 24);
  border-radius: 10px; */
  color:white;
}
header.page-header .main-menu a:hover {
  color:rgb(241, 70, 24);
}
header.page-header .main-menu ul > a:last-child li:hover {
  border: 2px solid white;
  color:rgb(241, 70, 24);
}
header.page-header .main-menu a {
  text-decoration: none;
}  


/*Выпадающее меню*/

header.page-header .main-menu .menu-left {
  position: relative;
}
header.page-header .main-menu .menu-left .sub-menu {
    position: absolute;
    left: 90px;
    display: inline-block;
    width: 800px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

header.page-header .main-menu .menu-left .sub-menu li {
  border: none;
  padding-right:15px;
  margin-top: 15px;
}

header.page-header .main-menu .menu-left .sub-menu a {
  font-size: 17px;
}



/*Хлебные крошки*/

.bread-pieces {
  width:93%;
  margin: 0 auto;
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgba(53, 54, 54, 0.69);
}
.bread-pieces .bread-pieces-line {
  height:2px;
  margin-top: 5px;
  border:1px solid rgba(243, 84, 43, 0.3);
}


/*Основное содержимое*/


.main-contain .layout-positioner {
  margin-top: 50px;
  min-width: 1100px;
  font-family: "ProximaNova";
}
.main-contain .layout-positioner .left-contain {
  float:left;
  width: 280px;
  height: 1074px;
  background-color: rgb(24, 192, 207);
  opacity: 0.69;
}
.main-contain .layout-positioner .right-contain {
  float:right;
  width: 800px;
}
.main-contain .layout-positioner .left-contain form {
  margin-left: 30px;
}
.main-contain .layout-positioner .left-contain form h1 {
  font-size: 24px;
  position: relative;
}
.main-contain .layout-positioner .left-contain form h2 {
  font-size: 22px;
}

.main-contain .layout-positioner .left-contain form h1:after {
  content: '';
  position: absolute;
  top:12px;
  left:-30px;
  width:130px;
  height: 20px;
  border-bottom: 3px solid white;
}
.main-contain .layout-positioner .left-contain form ul {
  list-style: none;
  margin-left: -40px;
}
.main-contain .layout-positioner .left-contain form li {
  margin-bottom: 10px;
}
.main-contain .layout-positioner .right-contain h1 {
  font-size: 24px;
  color: rgba(17, 17, 17, 0.812);
}
.main-contain .layout-positioner .right-contain h1:first-of-type {
  margin-top: -20px;
}
.main-contain .layout-positioner .right-contain .gallery .item {
  width:263.9px;
  height:300px;
  display:inline-block;
  vertical-align:top;
}
.main-contain .layout-positioner .right-contain .gallery .item .image {
  width:100%;
  height:154px;
  font-size: 14px;
}
.main-contain .layout-positioner .right-contain .gallery .item .image-1 {
  background: url('../images/courses/courses/sew/course-1.png') no-repeat;
  background-size:contain;
}
.main-contain .layout-positioner .right-contain .gallery .item .image-2 {
  background: url('../images/courses/courses/sew/course-2.png') no-repeat;
  background-size:contain;
}
.main-contain .layout-positioner .right-contain .gallery .item .image-3 {
  background: url('../images/courses/courses/sew/course-3.png') no-repeat;
  background-size:contain;
}
.main-contain .layout-positioner .right-contain .gallery .item .image-4 {
  background: url('../images/courses/courses/sew/course-1.png') no-repeat;
  background-size:contain;
}
.main-contain .layout-positioner .right-contain .gallery .item .image-5 {
  background: url('../images/courses/courses/sew/course-5.png') no-repeat;
  background-size:contain;
}
.main-contain .layout-positioner .right-contain .gallery .item .image-6 {
  background: url('../images/courses/courses/sew/course-6.png') no-repeat;
  background-size:contain;
}
.main-contain .layout-positioner .right-contain .gallery .item .course-type {
  background-color:rgb(250, 84, 50);
  padding-left: 25px;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.5;
}
.main-contain .layout-positioner .right-contain .gallery .item .course-type::before {
  content:'';
  position: absolute;
  left:9px;
  top:6px;
  border: 4px solid white;
  border-radius: 50%;
}
.main-contain .layout-positioner .right-contain .gallery .item .course-title {
  background-color: #eaeaea;
  color: rgb(53, 54, 54);
  line-height: 2.2;
  padding-left: 9px;
}
.main-contain .layout-positioner .right-contain .gallery a,
.main-contain .layout-positioner .right-contain .gallery a:visited,
.main-contain .layout-positioner .right-contain .gallery a:active{
  float:right;
  padding-right: 20px;
  color: rgba(53, 54, 54, 0.82);
  text-decoration: none;
  position: relative;
  transition-duration:0.3s;
}
.main-contain .layout-positioner .right-contain .gallery a::after {
  content: '';
  position: absolute;
  top: -3px;
  left:59px;
  width: 28px;
  height: 28px;
  box-shadow: 2px 2px 0 0px rgba(53, 54, 54, 0.82);
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.73);
  transition: all 0.3s;

}
.main-contain .layout-positioner .right-contain .gallery a:hover,  
.main-contain .layout-positioner .right-contain .gallery .a:hover::after{
  border-color:rgba(255, 255, 255, 0.9);
  transform:scale(1.1);
}
.main-contain .layout-positioner .right-contain .gallery .item .course-author {
  color: rgb(250, 84, 50);
  font-size: 13px;
  line-height: 1.7;
  padding-left: 9px;
  float:left;
  font-style: italic;
}
.main-contain .layout-positioner .right-contain .gallery .item .course-price{
  float:right;
  color:rgb(250, 84, 50);
  border:1px solid rgb(250, 84, 50);
  padding: 5px;
  border-radius: 50%;
}
.main-contain .layout-positioner .right-contain .gallery .item .blue-line-height {
  line-height: 1.3;
}
.main-contain .layout-positioner .right-contain .gallery .item .blue {
  background-color:rgb(24, 192, 207);
}
.main-contain .layout-positioner .right-contain .gallery .item .course-info .blue {
  background:none;
  color:rgb(24, 192, 207);
  border-color: rgb(24, 192, 207);
}
.main-contain .layout-positioner .right-contain .painting-gallery {
  margin-top: 85px;
}





/*Блок с платежами*/


.pay {
  margin-top: 50px;
}

.pay .layout-positioner .pay-system {
  text-align: center;

}
.pay .layout-positioner .pays {
  display: inline-block;
  margin-top: 10px;
  height:85px;
  width:130px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.pay .layout-positioner .pays1 {
  background-image: url('../images/PayPal.png');
  background-size:75%;
}
.pay .layout-positioner .pays2 {
  background-image: url('../images/qiwi.png');
  background-size:75%;
}
.pay .layout-positioner .pays3 {
  background-image: url('../images/mastercard.png');
  background-size:55%;
}
.pay .layout-positioner .pays4 {
  background-image: url('../images/visa.png');
  background-size:55%;
}
.pay .layout-positioner .pays5 {
  background-image: url('../images/yandex.png');
  background-size:100%;
}

/* Футер */


footer.page-footer .layout-positioner {
  height:300px;
  background-color: rgb(61, 70, 80);
  position: relative;
  min-width: 1200px;
  width: 100%;
}
footer.page-footer a:visited{

  color: white;

}
footer.page-footer .layout-positioner .layout-column {
  text-align: center;
}
footer.page-footer .layout-positioner img {
  position: absolute;
  top:50px;
  left:80px;
}
footer.page-footer .layout-positioner .layout-column-float {
  float: right;
  position: relative;
  height: 190px;
  margin-top: -190px;
  width:85px;
  background-color: rgb(255, 255, 255);
  background-image: url('../images/socio.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-right: 2px solid rgb(61, 70, 80);
}
footer.page-footer .layout-positioner .layout-column table {
  margin: 0 auto;
  font-family: "CenturySchoolbook";
  font-size: 16px;
  text-align: left;
}
footer.page-footer .layout-positioner .layout-column table img {
  position: static;
}
footer.page-footer .layout-positioner .layout-column table tr {

}
footer.page-footer .layout-positioner .layout-column table th {
  color: rgb(241, 71, 23);
  text-transform: uppercase;
  padding: 60px 40px 20px 0px;

}
footer.page-footer .layout-positioner .layout-column table td {
  color: rgba(253, 254, 253, 0.910);
  padding-top:5px;

}
footer.page-footer .layout-positioner .layout-column table span {
  color: rgb(241, 71, 23);
}
footer.page-footer .layout-positioner .layout-column hr {
  width:50%;
  background-color: rgb(24, 192, 207);
  color: rgb(24, 192, 207);
  opacity: 0.11;
  margin-left: 23.5%;
  margin-top:20px;
}
footer.page-footer .layout-positioner .orange-line {

}
footer.page-footer .layout-positioner table + img {
  position: absolute;
  left:820px;
  top:100px;
}