body{
    margin:0;
    padding:0;
    font-family:"MyriadPro", 'PT Sans', sans-serif;
    background-color: white;
}
.layout-positioner {
  max-width: 1300px;
}
header.page-header {
  background:url('public/images/online-background-new.png') no-repeat;
  background-size: cover;
}
header.page-header .header-1 .layout-column-1 a, header.page-header .layout-column-1 a:visited {
  color:white;
}
header.page-header input[type="search"],
#search-header::-webkit-input-placeholder {
  color: rgba(253, 254, 253, 0.650);
}

/*Блок со слайдером*/


header.page-header .slider  {
  height: 593px;
}
header.page-header .slider .layout-positioner {
  text-align: center;
  font-family: "Century Gothic";
  padding-top: 5px;
}
header.page-header .slider .layout-positioner h1 {
  font-size:4em;
  color: rgb(253, 253, 253);
  margin-top:80px;
  margin-bottom: -30px;
}
header.page-header .slider .layout-positioner h1 span {
  position:relative;
  display:inline-block;
}
header.page-header .slider .layout-positioner h1 span:before {
  display:block;
  z-index:1;
  position:absolute;
  top:0;
  height:30px;
  content: attr(data-content);
  overflow:hidden;
  color: rgb(250, 84, 50); 
}
header.page-header .slider .layout-positioner h2{
  font-size: 1.7em;
  color: rgb(253, 253, 253);
  font-weight: bold;
  margin-bottom: 0px;
}
header.page-header .slider .layout-positioner hr {
  background-color: rgba(241, 70, 24, 0.671);
  color:rgba(241, 70, 24);
}
header.page-header .slider .layout-positioner h2 > span {
  font-family: "Century Gothic";
  color: rgb(250, 84, 50);
}
header.page-header .slider .layout-positioner  h2 ~ span {
  font-size: 23px;
  color: rgb(253, 253, 253);
  text-shadow: 0px 0px 3.2px rgba(56, 56, 56, 0.42);
  font-weight: bold;
  font-style: italic;
  line-height: 1.407;
  text-align: center;
}
header.page-header .slider .buttons {
  margin-top: 155px;
  text-align: center;
  position: relative;
}
header.page-header .slider .buttons:active {
  top:1px;
  box-shadow: none;
}
header.page-header .slider input[type="submit"] { 
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 47px;
  width: 352px;
  height: 70px;
  border: none;
  border-radius: 15px;
  background: rgb(241, 71, 23);
  color: rgba(253, 254, 253, 0.750);
  font-size: 30px;
  font-family: "CenturySchoolbook";
  box-shadow: 0px 3px 5px 0px rgba(0, 1, 2, 0.58);
}
header.page-header .slider input[type="submit"]:hover {
  color: rgba(253, 254, 253, 1);
  cursor: pointer
}
header.page-header .slider input[type="submit"]:focus {
  outline: none;
}
header.page-header .slider .scrolling-btn {
  margin: 0 auto;
  position: relative;
  width:22px;
  height:22px;
  border:2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition-duration:0.5s;
}
header.page-header .slider .scrolling-btn::after {
  position: absolute;
  content: '';
  top:8px;
  left:4px;
  border:7px solid transparent;
  border-top-color:rgba(255, 255, 255, 0.5);
  transition-duration:0.5s;
}
header.page-header .slider .scrolling-btn:hover,  header.page-header .slider .scrolling-btn:hover::after{
  border-color:rgba(255, 255, 255, 0.9);
  transform:scale(1.1);
}
header.page-header .slider .scrolling-btn:hover::after {
  border-color:transparent;
  border-top-color:rgba(255, 255, 255, 0.9);
}


/*Почему выбирают нас*/


.why {
  background-color: #ffffff;
  font-family: "CentSchbkCyrill BT Roman";
}
.why .layout-positioner {
  text-align: center;
  margin-top: 55px;
  width: 100%;
}
.why .layout-positioner h1 {
  text-align: center;
  font-family: "ProximaNova";
  font-size:37px;
  color: rgb(0, 182, 199);
}
.why .layout-positioner span {
  font-size: 23px;
  color: rgba(61, 70, 80, 0.671);
  line-height: 1.269;
  text-align: center;
}
.why .gallery {
  padding-top:15px;
  
  /*
  background-image:
    url('../images/why1/1.png'),
    url('../images/why1/2.png'),
    url('../images/why1/3.png'),
    url('../images/why2/1.png'),
    url('../images/why2/2.png'),
    url('../images/why3/1.png'),
    url('../images/why3/2.png'),
    url('../images/why4/1.png'),
    url('../images/why4/2.png'),
    url('../images/why5/1.png'),
    url('../images/why5/2.png');
  background-position: 
    30px 30px,
    0px 40px,
    290px 165px,
    742px 50px,
    460px 130px,
    1165px 50px,
    880px 170px,
    475px 490px,
    245px 405px,
    675px 375px,
    935px 455px;
  */
  background-repeat: no-repeat;

}
.why .gallery .item .image-1 + img {
  position: relative;
  top:-40px;
}
.why .gallery .item {
  width:345px;
  display:inline-block;
  margin: 0 0px 10px 0px; 
  vertical-align:top;
}
.why .gallery .item:nth-child(3) {
  margin-right: 0px;
}
/*
.why .gallery .item:nth-child(1) {

}
.why .gallery .item:nth-child(2){
  margin-left: 132px;
}
.why .gallery .item:nth-child(3) {
  margin-left: 100px;
  margin-right: 0px;
}
.why .gallery .item:nth-child(4) {
  margin-left: 285px;
}
.why .gallery .item:nth-child(5) {
  margin-left: 104px;
}
*/
.why .gallery .image {
  height:230px;
  background-position:50% 50%;
  background-repeat:no-repeat;
  margin-top:40px;
  background-size: 57% 80%;
  transform:translateY(-20px);
}
.why .gallery .image-1{
  background-image: 
    url('../images/why1.png'),
    url('../images/why1/1.png'),
    url('../images/why1/2.png'),
    url('../images/why1/3.png');
  background-position: 
    50% 50%,
    13% 2%,
    0% 5%,
    94% 87%;
  background-size: 
    57% 80%,
    33% 50%,
    4.75% 28%,
    26% 41%;
  
}
.why .gallery .image-2{
  background-image:
    url('../images/why2.png'),
    url('../images/why2/1.png'),
    url('../images/why2/2.png');
  background-position: 
    50% 50%,
    86% 10%,
    5% 65%;
  background-size: 
    57% 80%,
    15% 32%,
    28% 43%;
}
.why .gallery .image-3{
  background-image:
    url('../images/why3.png'),
    url('../images/why3/1.png'),
    url('../images/why3/2.png');
   background-position: 
    50% 50%,
    86% 12%,
    0% 80%;
  background-size: 
    57% 80%,
    15% 34%,
    29% 38%;
}
.why .gallery .image-4{
  background-image:
    url('../images/why4.png'),
    url('../images/why4/1.png'),
    url('../images/why4/2.png');
  background-position: 
    50% 50%,
    100% 78%,
    14% 14%;
  background-size: 
    57% 80%,
    35% 46%,
    22% 32%;
}
.why .gallery .image-5{
  background-image:
    url('../images/why5.png'),
    url('../images/why5/1.png'),
    url('../images/why5/2.png');
  background-position: 
    50% 50%,
    14% 5%,
    93.5% 74%;
  background-size: 
    57% 80%,
    25% 37%,
    24% 56%;
}
.why .gallery .title {
  text-align: center;
  margin-top: 10px;
  color: rgba(58, 57, 57, 0.722);
  font-size: 25px;
  line-height: 1.467;
}
.why hr {
  margin-top: -5px;
  margin-bottom: 15px;
  background-color: #c5c7ca; 
  color: #c5c7ca; 
}


/* Блок попробовать бесплатно */


.try-this {
  background-color: #ffffff;
  min-width: 500px;
  margin-top: 30px;
}
.try-this .layout-positioner {
  width: 100%;
  background-image:
    url('../images/vectors/1.png'),
    url('../images/vectors/2.png'),
    url('../images/vectors/3.png'),
    url('../images/vectors/5.png'),
    url('../images/vectors/6.png');
  background-repeat: no-repeat;
  background-size: 
    72px 68px,
    105px 123px,
    400px 489px,
    74px 105px,
    70px 71px;
  background-position: 
    135px 260px,
    0px 245px,
    960px -50px,
    70px 150px,
    -30px 160px;
}
.try-this .layout-positioner span {
  position: relative;
  left:1015px;
  top:45px;
  font-family: "MyriadProItalic";
  font-size: 26px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.214;
}
.try-this .layout-positioner span:nth-of-type(2) {
  left: 1000px;
}
.try-this .layout-positioner span:nth-of-type(3) {
  left: 1040px;
}
#circle {
  position: relative;
  margin:0 auto;
  top:50px;
  width: 850px;
  height: 430px;
  background: rgb(0, 182, 199);
  -moz-border-radius: 1300px 1300px 0 0;
  -webkit-border-radius: 1300px 1300px 0 0;
  border-radius: 1300px 1300px 0 0;
}
#rectangle {
  position: relative;
  margin:0 auto;
  top:-90px;
  width: 100%;
  min-width: 850px;
  height: 170px;
  background: rgb(0, 182, 199);
}
.try-this img {
  position: absolute;
  left:55px;
  top:15px;
  z-index: 10;
}
.try-this .buttons {
  text-align: center;
  position: relative;
}
.try-this .buttons:active {
  top:1px;
  box-shadow: none;
}
.try-this input[type="submit"] {
  top:420px;
  position: absolute;
  height:71px;
  left:35%;
  width:300px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: rgb(241, 70, 24);
  color: rgba(253, 254, 253, 0.750);
  font-size: 21px;
  font-family: "CenturySchoolbook";
  border-radius: 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 1, 2, 0.58);
  z-index: 15;
}
.try-this input[type="submit"]:hover {
  color: rgba(253, 254, 253, 1);
  cursor: pointer
}
.try-this input[type="submit"]:focus {
  outline: none;
}
.try-this .layout-positioner #circle .words {
  position: relative;
  font-family: "MyriadProItalic";
  font-size: 26px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.214;
  width:100px;
}
.try-this .layout-positioner #circle .words-1 {
  position: absolute;
  top:335px;
  left:-200px;
  z-index: 20;
}
.try-this .layout-positioner #rectangle .words {
  position: relative;
  font-family: "MyriadProItalic";
  font-size: 26px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.214;
  width:900px;
}
.try-this .words-2 {
  position: absolute;
  left:830px;
  z-index: 20;
  outline: 2px solid black;
}


/*Блок учитесь создавать творения*/


.study-to {
  background-color: #ffffff;
  margin-top: -25px;
  font-family: "CentSchbkCyrill BT Roman";
}
.study-to .layout-positioner {
  text-align: center;
  font-size: 46px;
  width:100%;
}
.study-to .layout-positioner h1{
  font-size:37px;
  font-family: "ProximaNova";
  color: rgb(0, 182, 199);
}
.study-to span {
  font-size: 25px;
  font-family: "CenturySchoolbook";
  color: rgba(61, 70, 80, 0.671);
  line-height: 1.269;
  text-align: center;
}
.study-to hr {
  margin-bottom: 5px;
  background-color: #c5c7ca; 
  color: #c5c7ca; 
}


/*Блок с видео*/


.video {
  text-align:center;
  margin-top: 55px;
}
.video .layout-positioner {
  width:100%;
}
.video .layout-positioner ul > li {
  display:inline-block;
  font-size: 30px;
  font-family: "CenturySchoolbook";
  margin: auto 35px;

}
.video .layout-positioner li{
  line-height: 40px;
}
.video .video-hover li:hover {
  line-height: 40px;
  box-shadow: 0px 5px 0 rgb(209, 72, 33);
}
.video .layout-positioner a {
  text-decoration: none;
  color: rgba(66, 72, 81, 0.722);
}
.video hr {
  background-color: #c5c7ca; 
  color: #c5c7ca;
  margin-top:-11px;
  width:70%;
}
.video img {
  width:30%;
  height:45%;
}
.video .video-blocks {
  text-align: center;
}
.video .video-blocks .block {
  display: inline-block;
  height: 340px;
  width: 429px;
  background-color: green;
  background-size: cover;
}
.video .video-blocks .block1 {
  background-image: url('../images/video1.png');
}
.video .video-blocks .block2 {
  background-image: url('../images/video2.png');
}
.video .video-blocks .block3 {
  background-image: url('../images/video3.png');
}


/* Блок подписаться*/


.subscribe {
  margin-top: 40px;
  width: 100%;
  height: 300px;
  background: url('../images/subscribe.png') no-repeat;
  background-size: cover;
}
.subscribe .layout-positioner {
  width:100%;
  border-top:1px solid transparent;
  text-align: center;
}
.subscribe h1 {
  margin-top: 70px;
  text-align: center;
  font-size:37px;
  font-family: "ProximaNova";
  color: rgb(241, 70, 24);
}
.subscribe ul {
  display: inline-block;
  margin-top: -40px;
  padding: 0px 40px;
  list-style: none;
}
.subscribe ul:nth-child(2) {

}
.subscribe ul li {
  margin-top: 20px;
}
.subscribe li:first-child {
  font-size: 24px;
  color: rgb(93, 97, 98);
}
.subscribe li:last-child {

}
.subscribe .buttons, .subscribe .button-submit {
  position: relative;
}
.subscribe .button-submit:active {
  top:1px;
  box-shadow: none;
}
.subscribe input[type="submit"]:hover {
  color: rgba(253, 254, 253, 1);
  cursor: pointer
}
.subscribe input[type="email"],
.subscribe input[type="text"] {
  font-family: "MyriadProItalic";
  line-height: 1.5;
  font-size: 22px;
  color: rgba(22, 22, 23, 0.212);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(61, 70, 80, 0.2);
  border-radius: 10px;
  padding: 0px 15px;
  width: 295px;
  height: 50px;
}
.subscribe input[type="email"] {
  
  
}
.subscribe input:focus {
  outline: none;
}
.subscribe input[type="submit"] { 
  height:50px;
  width:251px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: rgb(241, 70, 24);
  color: rgba(253, 254, 253, 0.750);
  font-size: 22px;
  font-family: "CenturySchoolbook";
  border-radius: 10px;
  box-shadow: inset 0.61px -6.973px 2.91px 0.09px rgba(0, 0, 0, 0.25);
}


/*
.subscribe .buttons {
  margin-top: 75px;
  text-align: center;
  position: relative;
}
.subscribe input[type="email"] {
  position: absolute;
  font-family: "CenturySchoolbook";
  top:-40px;
  line-height: 1.5;
  font-size: 22px;
  color: rgba(22, 22, 23, 0.212);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px 15px;
  width: 295px;
  height: 50px;
  box-shadow: 0px 3px 5px 0px rgba(0, 1, 2, 0.35);
}
.subscribe input[type="email"]:focus {
  outline: none;
}
.subscribe input[type="submit"] { 
  position: absolute;
  top:165px;
  left: 522px;
  height:50px;
  width:251px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: rgb(241, 70, 24);
  color: rgba(253, 254, 253, 0.750);
  font-size: 22px;
  font-family: "CenturySchoolbook";
  border-radius: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 1, 2, 0.58);
}


*/

/*Блок с преподователями*/


.help {
  display:block;
  padding-bottom: -40px;
}


/*Блок как происходит обучение*/


.how-study .layout-positioner {
  text-align: center;
  width: 100%;
  margin-bottom: 110px;
}
.how-study .layout-positioner h1{
  font-size:37px;
  font-family: "ProximaNova";
  color: rgb(0, 182, 199);
}
.how-study hr,
.pay hr {
  margin-top: 22px;
  background-color: #c5c7ca; 
  color: #c5c7ca;
  margin-top:-11px;

 }
.how-study .how-study-blocks {
  text-align: center;
}
.how-study .how-study-blocks .item {
  position: relative;
  width:310px;
  height:290px;
  display: inline-block;
  margin: 0 0px 10px 30px; 
  vertical-align:top;
}
.how-study .how-study-blocks .item:nth-of-type(1)::after,
.how-study .how-study-blocks .item:nth-of-type(2)::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 110px;
  background:url('../images/vectors/arrow.png') no-repeat;
  background-size: contain;
  top:100px;
  left:270px;
}
.how-study .how-study-blocks .item:nth-of-type(2)::after {
  top:100px;
  left:285px;
}
.how-study .how-study-blocks .how {
  height: 280px;
  background-repeat: no-repeat;
}
/*
.how-study .how-study-blocks .item:nth-child(1) .how {
  background-size: 40% 55%;
  background-position: 50% 100px;
}
.how-study .how-study-blocks .item:nth-child(2) .how {
  background-size: 55% 50%;
  background-position: 80px 105px;
}
.how-study .how-study-blocks .item:last-child .how {
  background-size: 50% 70%;
  background-position: 55% 100%;
}
*/
.how-study .how-study-blocks .item:nth-child(even) {
  margin-left: 30px;
}
.how-study .how-study-blocks .item:last-child {
  margin-right: 0px;
}
.how-study .how-study-blocks .how1 {
  background-image: 
    url('../images/how-to-study3.png'),
    url('../images/how/1.png'),
    url('../images/how/3.png');
  background-size: 
    45% 48%,
    79px 77px,
    36% 28%;
  background-position: 
    50% 100px,
    72% 28%,
    27% 22%;
}
.how-study .how-study-blocks .how2 {
  background-image: url('../images/how-to-study2.png');
  background-size: 55% 50%;
  background-position: 60px 105px;
}
.how-study .how-study-blocks .how3 {
  background-image: 
    url('../images/how-to-study1.png'),
    url('../images/how/2.png');
  background-size: 
    50% 60%,
    33%;
  background-position: 
    55% 87%,
    81% 30%;
}
.how-study .how-study-blocks .title{
  text-align: center;
  margin-top: 10px;
  color: rgba(58, 57, 57, 0.722);
  font-size: 24px;
}


/*Блок с обратной связью*/


.contact-us {
  margin-top:30px;
  margin-bottom: 50px;
  width: 100%;
  background-image: 
    url('../images/contact-us2.png'),
    url('../images/contact-us1.png');
  background-attachment:fixed, fixed;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; 
}
.contact-us .layout-positioner {
  
  min-width: 1000px;
  height: 340px;
  width: 100%;
}
.contact-us .layout-positioner .text {
  padding-top: 45px;
  font-family: "CenturySchoolbook";
  font-size: 37px;
  color: rgb(253, 254, 253);
  text-shadow: 0px 3px 5px rgba(0, 1, 2, 0.35);
  text-transform: uppercase;
  line-height: 1.231;
  text-align: center;
}
.contact-us .layout-positioner .text-1 {

}
.contact-us .layout-positioner .text-2 {
  font-size: 24px;
  margin-top:10px;
}
.contact-us .layout-positioner .text-2 span {
  color:rgb(241, 71, 23);
}
.contact-us .layout-positioner .buttons {
  text-align: center;
  margin-top: 65px;
  position: relative;
}
.contact-us .layout-positioner .buttons:active {
  top:1px;
  box-shadow: none;
}
.contact-us .layout-positioner input[type="submit"]:hover {
  color: rgba(253, 254, 253, 1);
  cursor: pointer
}
.contact-us input[type="submit"] { 
    margin: 0 5px;
    margin-bottom: 145px;
    padding: 22px 65px;
    width: 305px;
    height: 66px;
    border: none;
    border-radius: 15px;
    background: rgb(241, 71, 23);
    color: rgba(253, 254, 253, 0.740);
    font-size: 24px;
    font-family: "CenturySchoolbook";
    box-shadow: 0px 3px 5px 0px rgba(0, 1, 2, 0.58);
}
.contact-us input[type="submit"]:focus {
  outline: none;
}


/*Блок с платежами*/


.pay .layout-positioner .pay-system {
  text-align: center;
}
.pay h1{
  font-size:37px;
  text-align: center;
  font-family: "ProximaNova";
  color: rgb(0, 182, 199);
}
.pay .layout-positioner .pays {
  display: inline-block;
  margin-top: 10px;
  height:85px;
  width:130px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.pay .layout-positioner .pays1 {
  background-image: url('../images/partner1.png');
  background-size:75%;
}
.pay .layout-positioner .pays2 {
  background-image: url('../images/partner2.png');
  background-size:75%;
}
.pay .layout-positioner .pays3 {
  background-image: url('../images/partner3.png');
  background-size:55%;
}

